@()(implicit request: Request[_], messages: Messages)

@templates.base() {
  <div class="ui attached small inverted menu">
    <div class="ui small header item">
      @messages("network_label")
    </div>
    <div class="right menu">
      <div class="ui small dropdown item" v-dropdown>
        <i class="user outline icon"></i>
        @request.session.get(Auth.SESSION_PARTNER_NAME)
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="@controllers.routes.Index.logout.url" class="item">
            <i class="power icon"></i>
            @messages("logout")
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui attached inverted grey menu">
    <h4 class="ui header item">@messages("pallet_label_print")</h4>
  </div>
  <div class="ui attached segment">
    <router-view></router-view>
  </div>
} {
  @pallet_label("pallet_label_print")
} {
  <script src="@controllers.routes.Index.jsRoutes"></script>
  <script src="@routes.Assets.at("js/index/entry.js")"></script>
}